svg.mute-icon.icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 30 50')
  g#Page-1(fill='none', fill-rule='evenodd')
    g#mute(fill='#9DD0E0')
      path#stick3(data-stick d='M.67 34.18L.5 10.845c0-3.34-.368-6.137.17-7.903C1.21 1.177 2.855.217 4.135.217c.395 0 .874.192 1.437.575.563.384 0-.828 0 13.916 0 2.872-.38 19.834.042 25.147.423 5.314.662 6.824.72 8.45 0 0-3.375 1.966-4.31-.695C1.085 44.948.67 34.18.67 34.18z')
      path#stick2(data-stick d='M12.04 20.588v-9.744C12.04 3.76 12.533.79 14.955.79c.395 0 1.592-.382 2.156 0 .564.384-.59 12.04-.59 26.784 0 2.873.21 6.966.633 12.28.422 5.313.662 6.823.718 8.45 0 0-3.372 1.965-4.31-.696-.936-2.66-1.52-27.02-1.52-27.02z')
      path#stick1(data-stick d='M23.747 34.18l-.17-23.336c0-7.085-.615-8.976 1.808-8.976.394 0 2.87-.888 3.21 0 .337.887-.538 10.962-.538 25.706 0 2.873.212 6.966.634 12.28.424 5.313 1.058 8.45.72 8.45-.338 0-3.09 2.66-4.025 0-.937-2.66-1.638-14.123-1.638-14.123z')
