div(data-audio="group")
  audio(data-audio="ambient" loop="true")
    source(src='assets/audio/ambient.m4a' type="audio/m4a")
    source(src='assets/audio/ambient.ogg' type="audio/ogg")
  audio(data-audio="spin1")
    source(src='assets/audio/spin.m4a' type="audio/m4a")
    source(src='assets/audio/spin.ogg' type="audio/ogg")
  audio(data-audio="spin2")
    source(src='assets/audio/spin.m4a' type="audio/m4a")
    source(src='assets/audio/spin.ogg' type="audio/ogg")
  audio(data-audio="spin3")
    source(src='assets/audio/spin.m4a' type="audio/m4a")
    source(src='assets/audio/spin.ogg' type="audio/ogg")