// Gist: center, mqueries

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
}

#text {
  position: relative;
  top: 600px;
  width: 100%;
  color: #eee;
  background-color: #000;
  height: 600px;
  z-index: 1;
  #kodama-graphic--log {
    top: -660px;
    overflow: visible;
  }
}

#header {
  position: fixed;
  overflow: hidden;
  height: 600px;
  width: 100%;
  top: 0;
  #kodama-graphic {
    height: 600px;
  }
}



.transparent {
  opacity: 0;
}

