$headerHeight: 600px;

// Gist: center, mqueries

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.transparent {
  opacity: 0;
}


body {
  margin: 0;
  background-color: #000;
  overflow: visible;
}

#header {
  position: fixed;
  z-index: -1;
  overflow: hidden;
  height: $headerHeight;
  width: 100%;
  top: 0;
}

#kodama-graphic {
  height: 100%;
}

#text {
  position: relative;
  top: $headerHeight;
  width: 100%;
  background-color: #000;
  min-height: 800px;
  color: #eee;
  svg {
    top: -150px;
  }
}
