@import url('https://fonts.googleapis.com/css?family=Roboto');
$headerHeight: 100%;

// Gist: center, mqueries

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.transparent {
  opacity: 0;
}


body {
  margin: 0;
  background-color: #000;
  overflow: visible;
  font-family: 'Roboto', sans-serif;
  color: #9DD0E0;
}

#header {
  position: fixed;
  z-index: -1;
  //overflow: hidden;
  height: $headerHeight;
  width: 100%;
  top: 0;
  opacity: 0;
}

#kodama-graphic {
  height: 100%;
}

#foreground {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1280px;
}

.controls {
  position: fixed;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  max-width: 960px;
  text-align: center;
  
  .btn {
    position: relative;
    cursor: pointer;
    opacity: 0.25;
   

    .icon {
      width: 22px;
    }
    .btn-label {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      margin: 0;
      margin-top: 5px;
      &::selection { background-color: transparent; }
    }
  }

  .mute-btn {
    float: left;
    margin-left: 30px;
  }
  
  .scroll-ind {
    opacity: 0;
    .scroll-icon {
      width: 30px;
    }
  }

  .replay-btn {
    float: right;
    margin-right: 30px;
  }

}



#main {
  position: relative;
  top: 600px;
  opacity: 0;

  .info-sheet {
    background: #030e11;
    background: -moz-linear-gradient(top,  #030e11 0%, #05171c 100%);
    background: -webkit-linear-gradient(top,  #030e11 0%,#05171c 100%);
    background: linear-gradient(to bottom,  #030e11 0%,#05171c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030e11', endColorstr='#05171c',GradientType=0 );
    border-radius: 10px;
    width: 600px;
  }

  .text {
    position: relative;
    padding: 20px 20px 200px;

  }
}