// Gist: center, mqueries

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
}

section {
  position: relative;
  min-height: 700px;
  background-color: #000;
  color: #eee;
  overflow: hidden;
}

#kodama-graphic {
  position: fixed;
  overflow: hidden;
}

#kodama-graphic--log {
  position: absolute;
}

.kodama {
  opacity: 0;
}

#layer_6 {
  opacity: 0;
}

#text {
  background-color: #000;
}